
 <div class="row">
    <% if @movie.image.present? %>
    <%= image_tag(@movie.image_url.to_s, :size => "214x317")%>
      <% else %>
      <%= image_tag("coming_soon.gif", :size => "214x317", :alt => @movie.title) %>
      <% end %>
  

  <div class="col-md-7" >

    <h1> <%= @movie.title %> </h1>

    <h4>User Rating</h4>


    <p>
      <strong>Year:</strong>
      <%= @movie.year %>
    </p>

    <p>
      <strong>Description</strong>
      <%= @movie.description %>
    </p>

    <p>
      <strong>Director</strong>
      <%= @movie.director %>
    </p>

    <p>
      <strong>Cast</strong>
      <%= @movie.cast %>
    </p>

  </div>  

  <div class="col-md-10" >
  <h3>Reviews</h3>
  <% if current_user.present? %>
    <%= button_to "Add Review", new_movie_review_path(@movie), :class => "btn btn-primary" %>
    <% else %>
    <%= link_to "Sign in to review this movie", new_user_session_path %>
    <% end %>

    <% @reviews.each do |review| %><p>
      <%= review.rating%><br>
      <%= review.body%><br>
      <%= image_tag(review.user.image_url(:thumb).to_s) %>
      <%= review.user.username %>
      <%= review.created_at.to_date.to_formatted_s(:long) %>
      
    <% end %>
    </div>
</div>